parameters:
    level: 6
    paths:
        - api-keys.php
        - hooks.php
        - permissions.php
        - dns.php
        - cpanel-sync.php
        - connect-website.php
        - whmcs_dns.php
    scanFiles:
        - stubs/whmcs.php
